@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Courgette&display=swap');
/* Body */ 

body{
    margin: 0px;
}


.showcase {
    background-image: url('/media/Screenshot\ from\ 2020-10-08\ 00-09-02.png');
    min-height: 550px;
    background-size: cover;
    -webkit-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1.5;  
}

.Letswork {
    background-color: white;
    border: none;
    color: rgb(85, 184, 250)ack;
    padding: 16px 32px;
    text-align: center;
    font-size: 22px;
    font-family: Bebas Neue;
    margin: 4px 2px;
    transition: 0.3s;
}
  
.Letswork:hover {
    background-color: rgb(85, 184, 250);
    color: white;
    border-style: double;
    border-color: white;
}

.Letswork a, a:visited, a:hover, a:active {
    color: inherit;
  }
.picofme {
    max-width: 250px;
    max-height: 250px;
    border: double;
    padding: 10px;
    border-color: white;

}

.showcase p{
    font-family: Bebas Neue;
    font-size: 40px;
    color:#fff;
    line-height:0px;
    text-shadow: 1px 1px 4px #000, 2.5px 2.5px 10px #000;
    /* We first create a flex layout context */
    display: flex;
  
    /* Then we define the flow direction 
     and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;
  
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
}


.showcase h1{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 4px #000, 2.5px 2.5px 10px #000;
    transition: 0.5;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.8;
}

#troi-bands{
    position: absolute;
    margin: 10px 0 0 10px;
    color: white;
    justify-content: flex-end;



}

  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
