@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Courgette&display=swap');
/* Body */ 

body{
    margin: 0px;
}


.showcase {
    background-image: url('/media/204990-marrakech-hd.jpg');
    min-height: 200%;
    background-size: cover;
    -webkit-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    line-height: 1.5;  
}

.picofme {
    max-width: 250px;
    max-height: 250px;
    border: double;
    padding: 10px;
    border-color: white;
    z-index: 2;
    bottom: -50px;

}

.showcase p{
    font-family: Bebas Neue;
    font-size: 40px;
    color:#fff;
    line-height:0px;
    text-shadow: 1px 1px 4px #000, 2.5px 2.5px 10px #000;
}

.showcase h1{
    font-family: Bebas Neue;
    text-align: center;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 4px #000, 2.5px 2.5px 10px #000;

}